<div class="mt-2 p-2 drink">
  <div *ngIf="drink.tag">
    <span *ngIf="drink.tag === 'new'" class="badge badge-new">neu</span>
    <span *ngIf="drink.tag === 'bestseller'" class="badge badge-bestseller">bestseller</span>
    <br />
  </div>
  Nr. {{ drink.id }}
  <br />
  <strong>{{ drink.name }}</strong>

  <ng-container *ngIf="drink.description">
    <br />
    <small class="card-description">{{ drink.description }}</small>
  </ng-container>
  <small>{{ drink.liters | appGermanNumber }}L</small>
  <br />
  <small>
    <span>{{ drink.price | appPrice }}</span>
  </small>
</div>
