<div class="mt-2 p-2 drink">
  <div class="mb-1" *ngIf="drink.tag">
    <span *ngIf="drink.tag === 'new'" class="badge badge-new">neu</span>
    <span *ngIf="drink.tag === 'bestseller'" class="badge badge-bestseller">Bestseller</span>
    <br />
  </div>
  Nr. {{ drink.id }}
  <br />
  <strong class="fs-16">{{ drink.name }}</strong>
  <ng-container *ngIf="drink.description">
    <br />
    {{ drink.description }}
  </ng-container>
  <br />
  {{ drink.liters | appGermanNumber }}L
  <br />
  <span>{{ drink.price | appPrice }}</span>
</div>
