<div class="mt-2 p-2 drink">
  @if (drink.tag) {
    <div class="mb-1">
      @if (drink.tag === 'new') {
        <span class="badge badge-new">neu</span>
      }
      @if (drink.tag === 'bestseller') {
        <span class="badge badge-bestseller">Bestseller</span>
      }
      <br />
    </div>
  }
  Nr. {{ drink.id }}
  <br />
  <strong>{{ drink.name }}</strong>
  @if (drink.description) {
    <br />
    {{ drink.description }}
  }
  <br />
  {{ drink.liters | appGermanNumber }}L
  <div class="mt-1">
    <span> {{ drink.price | appPrice }}</span>
  </div>
</div>
