<header class="header">
  <div class="header-content">
    <h1 class="header-title">
      <span class="header-title-green">Pisa </span>
      <span class="header-title-white">Pizza </span>
      <span class="header-title-red">Schwaig</span>
    </h1>
    <p class="header-subtitle">Ihr Lieferdienst in Schwaig und Umgebung</p>
  </div>
</header>

<main class="container">
  <app-announcements></app-announcements>

  <section class="about">
    <h1 class="cool-font ta-center">Frische italienische Küche direkt zu Ihnen</h1>
    <p class="ta-center mt-0">
      <small>Jetzt bestellen:</small>
      <br />
      <a id="phone-number-top" class="phone-number" href="tel:004991171516143">0911 71516143</a>
      <br />
      <small>Dienstag bis Sonntag, 17 - 21 Uhr</small>
    </p>

    <p id="scrolltohere" class="ta-center">
      Ab einem Bestellwert von 15 € liefern wir nach: Schwaig, Behringersdorf, Röthenbach a.d.
      Pegnitz, Renzenhof, Rückersdorf, N-Laufamholz und ab 30 € bis nach Lauf a.d. Pegnitz
      (Stadtgebiet); ab 60 € erhalten Sie eine gratis Flasche Wein.
    </p>
    <p class="ta-center">
      Gerne können Sie Ihre Bestellung auch direkt bei uns abholen, Kartenzahlung ab 15 €.
    </p>
  </section>

  <section id="menu" class="menu mt-2">
    <h2 class="mb-0">Speisekarte</h2>

    <div id="links-grid" class="links-grid">
      <div
        class="link"
        [class.active]="isActive('/pizzas', '')"
        (click)="scrollAndNavigate('/pizzas')"
      >
        <div class="mb-05">
          <img src="assets/img/pizza.webp" alt="Pizzas" />
        </div>
        <span>Pizzas</span>
      </div>
      <div class="link" (click)="scrollAndNavigate('/pasta')" [class.active]="isActive('/pasta')">
        <div class="mb-05">
          <img src="assets/img/pasta.webp" alt="Pasta" />
        </div>
        <span>Pasta</span>
      </div>
      <div class="link" (click)="scrollAndNavigate('/salads')" [class.active]="isActive('/salads')">
        <div class="mb-05">
          <img src="assets/img/salad.webp" alt="Salate" />
        </div>
        <span>Salate</span>
      </div>
      <div
        [class.active]="isActive('/packages')"
        (click)="scrollAndNavigate('/packages')"
        class="link"
      >
        <div class="mb-05">
          <img src="assets/img/package.webp" alt="Pakete" />
        </div>
        <span>Pakete</span>
      </div>
      <div [class.active]="isActive('/drinks')" (click)="scrollAndNavigate('/drinks')" class="link">
        <div class="mb-05">
          <img src="assets/img/drinks.webp" alt="Getränke" />
        </div>
        <span>Getränke</span>
      </div>
    </div>

    <span id="outlet-start"> </span>
    <router-outlet></router-outlet>

    <p class="ta-center tiny">
      <sup>1</sup>Konservierungsstoffe, <sup>2</sup>Antioxidationsmittel, <sup>3</sup>Farbstoff,
      <sup>4</sup>Geschmacksverstärker, <sup>5</sup>Lebensmittelfarbe, <sup>6</sup>Koffeinhaltig.

      <br />
      <br />
      Bei Fragen zu Allergenen wenden Sie sich bitte an unseren Service, wir halten Informationen an
      der Theke für Sie bereit.
    </p>
  </section>
</main>

<section class="imprint">
  <div class="imprintContent">
    <h2>Impressum</h2>
    <p>
      <strong>Pisa Pizza</strong>
      <br />
      Behringersdorferstraße 5a
      <br />
      90571 Schwaig
    </p>

    <p>Inhaber H. Gök</p>

    <p>
      Telefon: <a href="tel:004991171516143">0911 71516143</a>
      <br />
      E-Mail: <a href="mailto:info@pisapizza.de">info{{ '@' }}pisapizza.de</a>
    </p>

    <p>Öffnungszeiten: Dienstag bis Sonntag, 17 - 21 Uhr</p>

    <p>© 2024 Pisa Pizza Schwaig. Alle Rechte vorbehalten.</p>
    <p>Fuck you!</p>
  </div>
</section>

<button
  (click)="call('004991171516143')"
  id="phone"
  [style.display]="windowScrolled ? 'block' : 'none'"
>
  <img src="assets/img/phone.webp" alt="Phone" />
</button>
