<div class="mt-2 p-2 pizza">
  <div *ngIf="pizza.tag">
    <span *ngIf="pizza.tag === 'new'" class="badge badge-new">neu</span>
    <span *ngIf="pizza.tag === 'bestseller'" class="badge badge-bestseller">bestseller </span>
    <br />
  </div>
  Nr. {{ pizza.id }}
  <br />
  <strong class="mr-05">{{ pizza.name }}</strong>
  <br />
  <small [innerHTML]="pizza.description"></small>
  <ul class="prices-container">
    <li>
      <small
        >Klein (Ø 28 cm): <span> {{ pizza.price.small | appPrice }}</span></small
      >
    </li>
    <li>
      <small
        >Groß (Ø 32 cm): <span> {{ pizza.price.large | appPrice }}</span></small
      >
    </li>
    <li>
      <small
        >Party (60 x 40 cm): <span> {{ pizza.price.party | appPrice }}</span></small
      >
    </li>
  </ul>
</div>
